@page
@model MyRazorApp.Pages.Sobre
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h1>Sobre</h1>
    <p>
        Bem-vindo à nossa página 'Sobre'!
    </p>
    <p>
        Aqui, exploramos as fronteiras mais distantes da imaginação aquática e da engenharia aeroespacial de vestuário. Nossa missão é simples: equipar cada peixe do oceano com calcinhas de última geração e lançá-los em foguetes rumo às estrelas.
    </p>
    <p>
        Por quê? Porque ninguém nunca perguntou 'por que não?'. Acreditamos que a verdadeira inovação reside em fazer as perguntas que ninguém mais ousa fazer. Junte-se a nós nesta jornada intergaláctica e um tanto quanto bizarra.
    </p>
